**/*.pyc
**/.*cache
**/.cov
**/coverage

**/*.zip
**/*.db*

**/tags
**/dist
**/build
**/node_modules

other

aw-server/aw_server/static
!aw-server/aw_server/static/logo.png
aw-server-rust/target
aw-server-rust/NDK
