[submodule "aw-core"]
	path = aw-core
	url = https://github.com/ActivityWatch/aw-core.git
[submodule "aw-client"]
	path = aw-client
	url = https://github.com/ActivityWatch/aw-client.git
[submodule "aw-server"]
	path = aw-server
	url = https://github.com/ActivityWatch/aw-server.git
[submodule "aw-watcher-afk"]
	path = aw-watcher-afk
	url = https://github.com/ActivityWatch/aw-watcher-afk.git
[submodule "aw-qt"]
	path = aw-qt
	url = https://github.com/ActivityWatch/aw-qt.git
[submodule "aw-watcher-window"]
	path = aw-watcher-window
	url = https://github.com/ActivityWatch/aw-watcher-window.git
[submodule "aw-server-rust"]
	path = aw-server-rust
	url = https://github.com/ActivityWatch/aw-server-rust.git
