[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aw-core = {path = "./aw-core", editable = true}
aw-client = {path = "./aw-client", editable = true}
aw-server = {path = "./aw-server", editable = true}
aw-watcher-afk = {path = "./aw-watcher-afk", editable = true}
aw-watcher-window = {path = "./aw-watcher-window", editable = true}
aw-qt = {path = "./aw-qt", editable = true}

[dev-packages]
pytest = "*"
pytest-cov = "*"
mypy = "*"

[requires]
python_version = "3.6"
