Package: activitywatch
Architecture: amd64
Maintainer: Erik Bjäreholt <erik@bjareho.lt>
Depends: libglib2.0-0, libwayland-client0, libwayland-cursor0, libwayland-egl1
Priority: optional
Version: SCRIPT_VERSION_HERE
Description: Open source time tracker
 https://github.com/ActivityWatch/activitywatch
